/*This is the style file*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	font-family: 'Open Sans';
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.heading{
	margin: auto;
	width: 90%;
	padding: 1%;
	text-align: center;
}

.heading > h1{font-size:20}
.heading > h2{font-size:17}

#googleMap {
	height: 90%;
}

#bingMap {
	height: 90%;
}

.rightContainer {
	float: right;
	margin-left: 5px;
	width: 25%;
	position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.leftContainer {
	float: left;
	width: 70%;
	padding: 0;
}

#loading {
	animation: blinker 3s linear infinite;
	color: red;
	top: 30%;
	text-align: center;
	width: 100%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
